
#element-with-background-image {
   /*position: relative;
   height: 500px;
   width: 500px;
   display: none;*/
    
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
}
 
#color-overlay {
   /*background: url("https://farm2.static.flickr.com/1588/24454816525_117e85cd7c.jpg") no-repeat fixed center; */
   display: block;
   /*position: absolute;*/
   top: 100px;
   left: 100px;
   width: 100%;
   height: 100%;
   background-color: black;
   /*margin-top: -500px;*/
   opacity: 0.6;
}

#overlayID {
  position: center;
  opacity: 0;
  margin-bottom: -500px;
}

/*/////////////////////////////////*/

*{margin:0;padding:0;}
#overlay{ /* we set all of the properties for are overlay */
    height:80%;
    width:80%;
    margin:0 auto;
    background:white;
    color:black;
    padding:10px;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;

}

/*Apply styles to overlay picture*/
#overlay .overlayPic {
  opacity: 0.6;
}

#mask{ /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;
}
/* use :target to look for a link to the overlay then we find are mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
    transition: all 0.5s ease-out;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;
}
.close{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-20px;
    right:-20px;
    background:red;
    color:white;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}
#open-overlay{ /* open the overlay */
    padding:10px 5px;
    background:red;
    color:white;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}